.error-message{
    color: red;
}


.cont-form {
    width: 100%;
    max-width: 500px;
    background-color: #fff;
    padding: 40px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}

.register-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #343a40;
}

.input-field {
    width: 100%;
    padding: 15px;
    font-size: 16px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s ease;
}

.input-field:focus {
    border-color: #007bff;
}

.role-label {
    margin-bottom: 5px;
    font-size: 14px;
    color: #495057;
}

.role-selection {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}

.radio-input {
    display: none;
}

.radio-label {
    padding: 10px 20px;
    font-size: 16px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.radio-input:checked + .radio-label {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
}

.upload-label {
    font-size: 14px;
    margin-top: 10px;
    color: #495057;
}

.upload-input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    cursor: pointer;
}

.policy-checkbox {
    display: flex;
    align-items: center;
    gap: 10px;
}

.policy-checkbox input[type="checkbox"] {
    cursor: pointer;
}

.policy-label {
    font-size: 14px;
}

.policy-label a {
    color: #007bff;
    text-decoration: none;
}

.policy-label a:hover {
    text-decoration: underline;
}

.submit-btn {
    padding: 15px;
    font-size: 16px;
    color: #fff;
    background-color: #28a745;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-btn:hover {
    background-color: #218838;
}

/* Текст о существующем аккаунте */
.already-account {
    text-align: center;
    font-size: 14px;
    color: #495057;
}

.already-account a {
    color: #007bff;
    text-decoration: none;
}

.already-account a:hover {
    text-decoration: underline;
}

/* Медиазапрос для мобильных устройств */
@media (max-width: 768px) {
    .cont-form {
        padding: 50px;
    }

    .input-field, .radio-label, .submit-btn, .policy-label {
        font-size: 14px;
    }

    .upload-input {
        padding: 8px;
    }
}
