*{
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(30vh - 30px); /* Учитываем высоту меню */
    background-color: #f5f6f8;
    padding: 10px; /* Добавляем отступ сверху для меню */
}

.error-messages {
    color: red;
    margin-bottom: 10px;
}
.error-text {
    font-size: 14px;
}

.cont-form {
    width: 100%;
    max-width: 500px;
    background-color: #fff;
    padding: 40px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #343a40;
}

.input-field {
    width: 100%;
    padding: 15px;
    font-size: 16px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s ease;
}

.input-field:focus {
    border-color: #007bff;
}

.policy-checkbox {
    display: flex;
    align-items: center;
    gap: 10px;
}

.policy-checkbox input[type="checkbox"] {
    cursor: pointer;
}

.submit-btn {
    padding: 15px;
    font-size: 16px;
    color: #fff;
    background-color: #28a745;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-btn:hover {
    background-color: #0056b3;
}

/* Текст о существующем аккаунте */
.already-account {
    text-align: center;
    font-size: 14px;
    color: #495057;
}

.already-account a {
    color: #007bff;
    text-decoration: none;
}

.already-account a:hover {
    text-decoration: underline;
}

/* Медиазапрос для мобильных устройств */
@media (max-width: 768px) {
    .cont-form {
        padding: 50px;
    }

    .input-field, .submit-btn, .already-account {
        font-size: 14px;
    }
}
